<div
    class="menu-item-inner"
    style="{{#if _graphic.src}} background: url({{_graphic.src}}); background-size: cover; background-repeat: no-repeat; background-position: center;{{/if}} height: 50vh;"
    aria-label="{{_globals._menu._tilesmenu.menuItem}}"
    {{#if _globals._menu._tilesmenu.menuItem}}
    tabindex="0"
    {{/if}}>
    <div class="menu-item-title">
        <div
            class="menu-item-title-inner h3"
            role="heading"
            aria-level="2"
            tabindex="0">{{{compile displayTitle}}}</div>
    </div>
    <div class="menu-item-button">
        <div
            aria-label="{{linkText}} {{#if _isVisited}}{{_globals._accessibility._ariaLabels.visited}}{{/if}}"
            class="{{#if _isVisited}}visited{{/if}} {{#if _isLocked}}disabled{{/if}} origbutton viewtext"
            role="button"
            {{#if _isLocked}}
            disabled="disabled"
            {{/if}}>
            <div class="titlesdiv" tabindex="0">
                <h2 class="" role="heading" aria-level="2" tabindex="0">{{{compile displayTitle}}}</h2>
                {{{compile_a11y_text body}}}
                {{#if duration}}
                    <span class="" role="region" tabindex="0">({{#if _globals._menu._tilesmenu.durationLabel}}{{{_globals._menu._tilesmenu.durationLabel}}}{{/if}}
                        {{{duration}}})</span>
                {{/if}}
            </div>
        </div>

    </div>

    <div class="page-level-progress-menu-item">
        <div class="page-level-progress-menu-item-indicator">
            <div class="page-level-progress-menu-item-indicator-bar"></div>
        </div>
    </div>
</div>